<section class="about" id="nosotros">
  <div class="wrap about-grid">
    <div class="about-copy">
      <h2>El oficio de la barbería<br>desde 1992</h2>
     <img src="/logo.png" alt="Logo Barbería" class="beard-icon">
      <p>Un barbero es mucho más que alguien que corta el cabello: es quien cuida el estilo, la barba y la actitud de cada cliente. Nuestro espacio nació como punto de encuentro entre generaciones, donde la conversación fluye tanto como la técnica.</p>
      <a href="#equipo" class="btn btn-primary">Conócenos</a>
    </div>

    <div class="about-collage">
      <div class="collage-photo p1" style="background-image: url('img1.jpg');"></div>
      <div class="collage-photo p2" style="background-image: url('img2.jpg');"></div>
      <div class="collage-photo p3" style="background-image: url('img3.jpg');"></div>
    </div>
  </div>
</section>